body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h2 {
	margin: 10px 0 0 10px;
	font-size: 1.2em;
}

form {
	display: inline-block;
	background-color: aliceblue;
	padding: 20px;
	margin: 20px;
}

form input, form button {
	display: block;
	margin-bottom: 20px;
	font-size: 1em;
	padding: 4px;
}

form button {
	margin-bottom: 0;
}

form p {
	margin: 0.5em;
    font-size: 0.8em;
}

form .profilePic {
	width: 128px;
	height: 128px;
	margin-left: 20px;
    display: inline-block;
    background-color: #e4e4e4;
}

.qr-container {
	background-color: aliceblue;
	margin: 20px;
	padding: 20px;
}

form > .qr-container {
	margin: 5px 0 20px 0;
	padding: 0;
}

.qr-connection {
	width: 128px;
	height: 118px;
	padding-top: 10px;
    display: inline-block;
	text-align: center;
	vertical-align: bottom;
}

.qr-connection > p {
	font-size: 1em;
	font-weight: bold;
	margin: 0.5em;
}

ul.custom {
	list-style-type: none;
}

ul.custom li {
	display: inline-block;
	width: 300px;
	padding: 20px;
	word-wrap: break-word;
}

ul.custom li img {
	max-width: 300px;
	max-height: 150px;
}